__pycache__/parser2txt.cpython-36.pyc
__pycache__/packages.cpython-36.pyc
__pycache__/paths.cpython-36.pyc

__pycache__/clustering\.cpython-36\.pyc

__pycache__/detect_language\.cpython-36\.pyc

__pycache__/plot\.cpython-36\.pyc

__pycache__/pre_processing\.cpython-36\.pyc

__pycache__/text_processing\.cpython-36\.pyc

\.vscode/settings\.json

mds.pkl
objs.pkl
Doc_objs.pkl
vectorizer.pkl
doc_txtPaths.pkl
tfidf_matrix.pkl

**/cvs
**/CV
**/.ipynb_checkpoints
**/.idea
**/__pycache__
papers
Vibracoes